* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main {
    display: grid;
    place-items: center;
}
#items-wrapper {
    width: 70vw;
}

#items {
    display: flex;
    
    /* adiciona scroll */
    overflow-x: auto;

    /* coloca a imagem ao centro */
    scroll-snap-type: x mandatory;

    -webkit-overflow-scrolling: touch;
}

.item {
    flex: none;

    height: 400px;
    width: 100%;

    /* coloca a imagem ao centro */
    scroll-snap-align: start;
}

section img {
    width: 100%;
    height: 100%;

    object-fit: cover;
}

footer a img {
    height: 40px;
    width: 40px;
}